# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc/
*.pyo/
*.pyd/
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Virtual environment
venv/
